.board-box {
  margin-top: 10px;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  border-radius: 5px;
}
.board-box__title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.board-box__time {
  margin-bottom: 10px;
  margin-left: 5px;
}
.board-box__content {
  height: 100px;
  margin-left: 5px;
}
.board-box__bottom {
  background-color: gray;
  display: flex;
  justify-content: space-between;
}
.board-box__bottom a {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.board-box__like-box,
.board-box__like-box button {
  background-color: aliceblue;
}
.board-box__like-box {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}
.board-box__like-box button {
  font-size: 17px;
}
.board-box__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}
