.board__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

.board__list--board {
  border: var(--default-border);
  border-radius: 5px;
  background-color: white;
  padding: 8px;
  margin: 0px 10px;
  margin-bottom: 15px;
  width: 460px;
  height: 300px;
  position: relative;
}
.board__contents {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.board__contents--title {
  font-size: 25px;
}
.board__contents--time {
  margin: 10px 0px;
  color: gray;
}
.board-contents--content {
  overflow-wrap: break-word;
}
.board__info {
  background-color: #f0f0f0;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  bottom: 0px;
  border-top: var(--default-border);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board__info a {
  display: flex;
  align-items: center;
}
.board__info--img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.board__info--btns {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.board__info--btns--btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.board__info--btns--btn form button,
.board__info--btns--btn button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 5px;
}
.board__info--btns--btn span {
  cursor: pointer;
}
