.header {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: var(--default-border);
}

.header__title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.header__btns {
  display: flex;
  justify-content: flex-end;
}

.header__btns--btn {
  margin-left: 15px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  height: 20px;
}

.header__btns--btn--img {
  margin-left: 15px;
}

.header__btns--img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
