.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 100px 10px;
  margin-top: 30px;
  background-color: gray;
  font-size: 30px;
  border-radius: 5px;
  height: 400px;
}
.user-contaier__title {
  margin-bottom: 20px;
  color: white;
}
.user-container__error {
  margin-top: 20px;
  font-size: 15px;
}
.user-container__form {
  display: flex;
  flex-direction: column;
}
.user-container__input {
  width: 350px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
}
.user-container__button {
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
}
