include base
block content
    div.change-password
        if errorMsg
            span.errorMsg=errorMsg
        form.user-form__text--form(method="POST")
            span Origin password
            input(type="password", placeholder="Origin password", name="password", required)
            span New password
            input(type="password", placeholder="New password", name="password2", required)
            button.user-form__img--btn Save