include base
block content
    div.user-container
       div.user-container__profile
        div.user-container__info
            if errorMsg
                span.errorMsg=errorMsg
            form.user-container__form(method="POST")
                span.user-container__strong Origin password
                input.user-container__input(type="password", placeholder="Origin password", name="password", required)
                span.user-container__strong New password
                input.user-container__input(type="password", placeholder="New password", name="password2", required)
                button.user-container__edit Save