include base
block content
    div.user-form
        div.user-form__img
            img(src=user.avatarUrl)
            form.user-form__img--form(method="POST", enctype="multipart/form-data")
                input(type="file", name="avatar", accept="image/png, img/jpeg" required)
                button.user-form__img--btn Save
        div.user-form__text
            form.user-form__text--form(method="POST")
                span Name
                input(type="text", placeholder="Name", name="name", value=user.name, required)
                span Email
                input(type="email", placeholder="Email", name="email", value=user.email, required)
                span Protection (See only follow users)
                label.user-form__text--form--label
                    div
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="true", checked)
                            | Yes
                        else
                            input(type='radio', name='protection', value="true")
                            | Yes
                    div
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="false")
                            | No
                        else
                            input(type='radio', name='protection', value="false", checked)
                            | No
                span Need check when user follow want
                label.user-form__text--form--label
                    div
                        if Boolean(user.needFollowAsk)
                            input(type='radio', name='needFollowAsk', value="true", checked)
                            | Yes
                        else
                            input(type='radio', name='needFollowAsk', value="true")
                            | Yes
                    div
                        if Boolean(user.needFollowAsk)
                            input(type='radio', name='needFollowAsk', value="false")
                            | No
                        else
                            input(type='radio', name='needFollowAsk', value="false", checked)
                            | No
                button.user-form__img--btn Save
            span.user-form__btn--delete
                a(href="/delete-user") Delete User