include base
block content
    div.board__form
        span.board__form--title ✂️ Edit Content
        form(method="POST").board__form--form
            input(type="text", placeholder="Title", name="title", value=board.title, required).board__form--form--input
            textarea(placeholder="Contents", name="content", cols="30", rows="10" required).board__form--form--textarea=board.content
            button.board__form--form--btn Edit Content