include base
block content
    div.user-container
       div.user-container__profile
        div.user-container__imgbox
            img.user-container__img(src=user.avatarUrl)
        div.user-container__info
            form.user-container__form(method="POST")
                span.user-container__strong Name
                input.user-container__input(type="text", placeholder="Name", name="name", value=user.name, required)
                span.user-container__strong Email
                input.user-container__input(type="email", placeholder="Email", name="email", value=user.email, required)
                span.user-container__strong Protection
                label.radio-inline
                    div.radio-inline__box
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="true", checked).radio-text
                            | Yes
                        else
                            input(type='radio', name='protection', value="true").radio-text
                            | Yes
                    div.radio-inline__box
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="false").radio-text
                            | No
                        else
                            input(type='radio', name='protection', value="false", checked).radio-text
                            | No
                button.user-container__edit Save
            span.user-container__removeBtn 
                a(href="/delete-user") Delete User