include base
block content
    div.edit-profile
       div.edit-profile__form
        div.edit-profile__form--img
            img(src=user.avatarUrl)
            form.edit-profile__form--img--form(method="POST", enctype="multipart/form-data")
                input(type="file", name="avatar", accept="image/png, img/jpeg")
                button.edit-profile__btn Save
        div.edit-profile__form--text
            form.edit-profile__form--text--form(method="POST")
                span Name
                input(type="text", placeholder="Name", name="name", value=user.name, required)
                span Email
                input(type="email", placeholder="Email", name="email", value=user.email, required)
                span Protection (See only follow users)
                label.edit-profile__form--text--label
                    div
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="true", checked)
                            | Yes
                        else
                            input(type='radio', name='protection', value="true")
                            | Yes
                    div
                        if Boolean(user.protection)
                            input(type='radio', name='protection', value="false")
                            | No
                        else
                            input(type='radio', name='protection', value="false", checked)
                            | No
                span Need check when user follow want
                label.edit-profile__form--text--label
                    div
                        if Boolean(user.needFollowAsk)
                            input(type='radio', name='needFollowAsk', value="true", checked)
                            | Yes
                        else
                            input(type='radio', name='needFollowAsk', value="true")
                            | Yes
                    div
                        if Boolean(user.needFollowAsk)
                            input(type='radio', name='needFollowAsk', value="false")
                            | No
                        else
                            input(type='radio', name='needFollowAsk', value="false", checked)
                            | No
                button.edit-profile__btn Save
            span.edit-profile__btn--delete
                a(href="/delete-user") Delete User