include base
include mixins/board
block content
    if boards
        div.board__list
            each board in boards
                +boards(board)
    else
        span.errorMsg=errorMsg
    script(src="/js/like.js") 