include base
block content 
    div.user-container
        span.user-contaier__title Join
        form(method="POST").user-container__form
            input(type="text" placeholder="Name" name="name" required).user-container__input
            input(type="email" placeholder="Email" name="email" required).user-container__input
            input(type="password" placeholder="Password" name="password" required).user-container__input
            input(type="password" placeholder="Confirm Password" name="password2" required).user-container__input
            button.user-container__button Join
        if errorMsg
            span.user-container__error=errorMsg