include base
block content 
    div.anon__container
        span.anon__container--title Join
        form(method="POST")
            input(type="text" placeholder="Name" name="name" required).anon__container--input
            input(type="email" placeholder="Email" name="email" required).anon__container--input
            input(type="password" placeholder="Password" name="password" required).anon__container--input
            input(type="password" placeholder="Confirm Password" name="password2" required).anon__container--input
            button.anon__container--btn Join
        if errorMsg
            span.errorMsg=errorMsg