include base
block content 
    div.user-container
        span.user-contaier__title Log In
        form.user-container__form
            input(type="email" placeholder="Email" required).user-container__input
            input(type="password" placeholder="Password" required).user-container__input
            button.user-container__button Log In!