include base
block content 
    div.user-container
        span.user-contaier__title Log In
        form(method="POST").user-container__form
            input(type="email" placeholder="Email" name="email" required).user-container__input
            input(type="password" placeholder="Password" name="password" required).user-container__input
            button.user-container__button Log In!
        if errorMsg
            span.user-container__error=errorMsg