include base
block content 
    div.anon__container
        span.anon__container--title Log In
        form(method="POST")
            input(type="email" placeholder="Email" name="email" required).anon__container--input
            input(type="password" placeholder="Password" name="password" required).anon__container--input
            button.anon__container--btn Log In!
        if errorMsg
            span.errorMsg=errorMsg