include base
block content
    div.user-container
       div.user-container__profile
        div.user-container__imgbox
            img.user-container__img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png")
        div.user-container__info
            div.user-container__namebox
                span.user-container__strong Name
                span.user-container__small=user.name
            div.user-container__namebox
                span.user-container__strong Email
                span.user-container__small=user.email