include base
include mixins/board
block content
    div.board__list
        each board in boards
            +boards(board)
        else
            span.nothing 🙅 Sorry nothing found.
    script(src="/js/like.js") 