include base
block content
    div.board-container
        span.board-container__title ✍️ Write Content
        form(method="POST").board-container__form
            input(type="text", placeholder="Title", name="title", required).board-container__input 
            textarea(placeholder="Contents", name="content", cols="30", rows="10").board-container__textarea
            button.board-container__button Write Contents