include base
block content
    div.board__form
        span.board__form--title ✍️ Write Content
        form(method="POST").board__form--form
            input(type="text", placeholder="Title", name="title", required).board__form--form--input
            textarea(placeholder="Contents", name="content", cols="30", rows="10" required).board__form--form--textarea
            button.board__form--form--btn Write Content