.followList-user__lists {
  margin-top: 30px;
  padding: 5px;
}
.followList-user__list {
  display: flex;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: center;
}
.followList-user__list a {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.followList-user__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.accept,
.decline {
  margin-right: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.decline {
  color: red;
}
.follow-list__number {
  background-color: tomato;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  position: absolute;
  top: -12px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: motion 1.5s linear 0s infinite;
}
@keyframes motion {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
