@import "./reset.css";
@import "./variables.css";

/* components */
@import "./components/header.css";
@import "./components/board.css";
@import "./components/anon-form.css";
@import "./components/board-form.css";
@import "./components/comment.css";

/* screens */
@import "./screens/profile.css";
@import "./screens/watch.css";

@import "./like-modal.css";
@import "./follow-modal.css";
@import "./following-modal.css";

@import "./blocked-user.css";
@import "./follow-list.css";

html {
  background-color: white;
  padding-top: 100px;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
.nothing {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 20px;
}
.errorMsg {
  font-size: 15px;
  text-align: center;
}
