@import "./reset.css";

/* components */
@import "./components/header.css";
@import "./components/userForm.css";

body {
  padding: 10px;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
input:focus {
  outline: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
