.user-boards {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  padding-top: 5px;
}
.user-boards__info {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
.user-boards__info span {
  cursor: pointer;
}
.user-boards__title {
  margin-bottom: 20px;
}
.user-boards__list {
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
